@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 800px) {
  .md:flex-wrap {
    flex-direction: column;
  }
}

body {
  line-height: 1.7rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 247 237 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}

p {
  margin-bottom: 1.4rem;
}


.content a {
  --tw-text-opacity: 1;
  color: rgb(3 105 161 / var(--tw-text-opacity));
}

.content h2 {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #1f2937;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.25rem;
}